$margin-padding: 1.2rem;
$color: #fff;
// $background-color: #000;
$background-color: #1f1f1f;
$font-size-for-text: 2.4rem;
$font-size-for-sign: 2.4rem;
$font-style-for-text: Verdana, sans-serif;
$font-style-for-sign: cursive;
$font-style-for-question: Arial, sans-serif;
$vertical-margin-between-block: 4vh;
$border-width: 1px;
$border-style: solid;
$border-radius: 1.2rem;